/* Static styles for Coalesce */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

:root {
    /* colour scheme  */
    --light-gray: #364545ff;
    --dark-gray: #101919ff;
    --red: #68121eff;
    --white: #f5f5f5ff;
    --light-blue: #44c5c5ff;
}

/* Remove default margin & padding from all elements */
* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #222;
    text-align: center;
    color: #f5f5f5;
    letter-spacing: 2px;

    font-family: 'Lato', sans-serif;
}

.main-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title-bar {
    width: 100%;
    margin: 10px 0px 10px 0px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    z-index: 3;
}

.score-bar {
    width: 100%;
    margin-top: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;

    z-index: 3;
}

.score-bar h3 {
    margin: 0px 5px 0px 5px;
}

h1 {
    letter-spacing: 3px;
    font-weight: 700;
}

h2.tagline {
    font-style: italic;
    font-weight: 400;
    font-size: 120%;
}

.canvas {
    position: relative;
    background-color: #111;
    width: 90%;
    height: 80vh;

    z-index: 1;
}

.splash-screen {
    /* center positioning */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    z-index: 2;

    height: 60%;
    width: 50%;
    padding: 10px 30px 10px 30px;

    background-color: hsla(180, 10%, 10%, 0.9);
    border: 2px solid rgba(27, 27, 27, 0.6);
    border-radius: 2.5%;
    box-shadow: 0px 0px 2px 2px rgba(46, 46, 46, 0.2);

    opacity: 1.0;
    transition: opacity 0.5s, top 0.5s;
}

.splash-screen h2 {
    font-size: 200%;
    letter-spacing: 3px;
    font-weight: 400;
}

.splash-screen.hide {
    top: -50px;
    opacity: 0;
}

.dialog-details {
    text-align: left;
    width: 70%;
    letter-spacing: 1.4px;
    font-weight: 300;
    line-height: 150%;
}

.dialog-details p {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dialog-details h3 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dialog-details li {
    margin-top: 10px;
    margin-bottom: 10px;

    list-style-type: circle;
}
.dialog-details li span{
    position: relative;
    left: 10px;
}

.button {
    background-color: var(--light-blue);
    border: none;
    border-radius: 15%;
    width: 100px;
    height: 50px;

    font-size: 150%;
    color: var(--white);
    opacity: 0.9;
}

.button:active {
    background-color: var(--red);
}

.sprite-window {
    position: absolute;
    right: 0px;
}

.food {
    -webkit-filter: drop-shadow(0px 0px 3px rgba(166, 179, 179, 0.534));
    filter: drop-shadow(0px 0px 3px rgba(166, 179, 179, 0.534));
}

.enemy {
    -webkit-filter: drop-shadow(0px 0px 3px var(--red));
    filter: drop-shadow(0px 0px 3px var(--red));
}

.player {
    -webkit-filter: drop-shadow(0px 0px 3px var(--light-blue));
    filter: drop-shadow(0px 0px 3px var(--light-blue));
}